{% extends 'stocks/base.html' %}

{% block title %} About me {% endblock title %}

{% block content %}
<section>
    <h2 class="my-5 text-center">About me</h2>
</section>

<section>
    
    <p class="my-5 text-center font-monospace">¡Hola! Soy Joaquín tengo 29 años y resido en Barcelona, España. Mi fascinación por la tecnología y la innovación me llevó a aventurarme en el mundo de la programación hace aproximadamente un año y medio. Desde entonces, he estado inmerso en un emocionante viaje de aprendizaje y descubrimiento.</p>
    <p class="my-5 text-center font-monospace">Mi interés por la aeronáutica comenzó desde temprana edad. Siempre me maravilló la idea de volar. Esta pasión me llevó a estudiar para convertirme en técnico aeronáutico, donde adquirí un profundo conocimiento sobre el funcionamiento interno de las aeronaves y la tecnología que las impulsa y posteriormente obtener la licencia de piloto. </p>
    <p class="my-5 text-center font-monospace">Sin embargo,sentí la necesidad de explorar otros horizontes. Fue entonces cuando decidí incursionar en el mundo de la programación. Me intrigaba la idea de crear soluciones tecnológicas e innovadoras en cualquier ambito.</p>
    <p class="my-5 text-center font-monospace">El proceso de aprendizaje de la programación ha sido desafiante pero gratificante. Me sumergí en lenguajes como Python, JavaScript y SQL, explorando conceptos como desarrollo web, análisis de datos y desarrollo de aplicaciones.</p>
    <p class="my-5 text-center font-monospace">Fuera del mundo de la tecnología, soy un apasionado de los deportes. Disfruto de la adrenalina que proporciona el deporte, ya sea jugando al fútbol con amigos los fines de semana o practicando senderismo en las montañas cercanas a Barcelona. El deporte no solo me ayuda a mantenerme en forma física, sino que también me proporciona un escape mental y emocional del ajetreo diario.</p>
    <p class="my-5 text-center font-monospace">Barcelona, mi hogar, es una ciudad vibrante y emocionante llena de cultura, historia y diversidad. Me encanta explorar sus calles pintorescas, disfrutar de su deliciosa gastronomía y sumergirme en su animada vida nocturna. Vivir aquí me ha brindado la oportunidad de conocer a personas de diferentes partes del mundo y de expandir mi horizonte cultural.</p>

</section>
{% endblock %}