{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} HOME {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'stocks/css/bootstrap.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="text-decoration-none text-dark" href="{% url 'home' %}"><h1>STOCKAPP!</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <a class="mx-3 text-center text-decoration-none text-dark" href="{% url 'about' %}">About me</a>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse mx-5" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkReserva" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Productos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkReserva">
                        <a class="dropdown-item" href="{% url 'product-list' %}">Todos los productos</a>
                        <a class="dropdown-item" href="{% url 'product-create' %}">Crear producto</a>
                        <a class="dropdown-item" href="{% url 'product-search' %}">Buscar producto por nombre</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkSala" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clientes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSala">
                        <a class="dropdown-item" href="{% url 'client-list' %}">Todos los Clientes</a>
                        <a class="dropdown-item" href="{% url 'client-create' %}">Crear Cliente</a>
                        <a class="dropdown-item" href="{% url 'client-search' %}">Buscar Cliente por localidad</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkSala" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sucursales
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSala">
                        <a class="dropdown-item" href="{% url 'office-list' %}">Todas las Sucursales</a>
                        <a class="dropdown-item" href="{% url 'office-create' %}">Crear Sucursal</a>
                        <a class="dropdown-item" href="{% url 'office-search' %}">Buscar Sucursal por tipo</a>
                    </div>
                    
                </li>
        {% endif %}
                
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="mx-1 btn btn-danger" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="">
                        <h4 class="m-1 text-center">Bienvenido {{ user }}!</h4>
                    </li>
                    <li class="nav-item">
                        {% if user.avatar.image %}
                        <a href="{% url 'avatar_create' %}" class="nav-link"><img class="my-auto text-center" src="{{ user.avatar.image.url }}" alt="Avatar" style="height: 40px; width: 40px; border-radius: 50%;"></a>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'avatar_create' %}" class="nav-link">Agregar Avatar</a>
                        </li>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="m-2 btn btn-success" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class=" m-2 btn btn-primary" href="{% url 'user-create' %}">Crear Usuario</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        
    </nav>
    <div class="container mt-4">
        {% block content %}
        {% endblock content %}
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
