{% extends 'stocks/base.html' %}


{% block title %}Crear Producto{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4">Crear Producto</h2>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Datos del producto
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'product-create' %}" class="form">  
                            {% csrf_token %}  
                            {{ create_form.as_p }} 
                            <button type="submit" class="btn btn-primary">Crear</button>
                            <a href="{% url 'product-list' %}" class="btn btn-danger">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}